#divCreationAdvert {
    font-family: Arial, sans-serif;
    text-align: center;
}

.infoField {
    margin-bottom: 15px;
}

.inputs {
    /*width: 100%;*/
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#submit, #reset, #backButton {
    /*padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;*/

    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 8px; /* Coins arrondis */
    padding: 5px 10px; /* Espacement intérieur */
    margin-right: 10px; /* Marge à droite pour les séparer */
    background-color: #fefefe; /* Couleur de fond */

    /* position: absolute; */
    transition-duration: 0.4s;
    display: inline;
}

#submit:hover, #reset:hover, #backButton:hover {
    background-color: #0050B2;
    color: #ffff;
    cursor: pointer;
}

.label {
    display: block;
    font-weight: bold;
    font-size: 150%;
}
.subLabel {
    display: inline;
    font-weight: bold;
    font-size: 100%;
}

.subInputs {
    display: inline-flex;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#titlePage {
    font-weight: bold;
    font-size: 250%;
    text-shadow: 1px 1px 2px pink;
}

#brand {
    min-width: 20.5%;
}