:root{
    --bg-color: #EAEEF2;
    --second-bg-color: #FFFFFF;
    --text-color: #181818;
    --main-color: #0050B2;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

#header{
    box-sizing: border-box;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 4% 1rem 6%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    transform: translateY(-25%) ;
    --jdd-blue-6: var(--text-color);
}

.logo{
    position: relative;
    margin-left: -3.4rem;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 700;
    transform: translateX(15%);
}

.navbar{
    position: relative;
    margin-right: 15px;
    transform: translateX(7%);
}

.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 1.5rem;
}

.nav-icon{
    margin-left: 5px;
    transform: translateY(7%);
}

.admin-navbar {
    display: flex;
    height: 100dvh;
    width: 18dvw;
    background-color: white;
    ul {
        justify-content: space-between;
        .top {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

.jdd.sidenav-link a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.logoA {
    padding: 1rem;
}

.nav-iconA {
    font-size: 2rem;
}