.advert-card {
    width: 22.5rem;
    max-height: 5rem;
}

div.jdd.card.advert-card:not(.no-padding) > .content {
    padding: 0;
}

.avatar {
    width: 5rem;
    height: 5.1rem;
    background-color: rgb(221, 221, 221);
}

.info {
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem;
}