.adv-card {
    flex-grow: 1;
    align-items: stretch;
    max-width: 22.5rem;
    max-height: 5.5rem;
}

div.jdd.card.adv-card:not(.no-padding) > .content {
    padding: 0;
}

.jdd.image.adv-picture {
    width: 8rem;
    height: 5.5rem;
    background-color: var(--jdd-gray-3);
}

.adv-icon {
    font-size: 4.5rem;
}

.info {
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem;
}