/* Style général de la carte de profil */
.profile-card {
  width: 150%;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.left-section {
  margin-top: -150px;
  margin-right: 4rem;
}

.left-section img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
}

.left-section p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
}

/* Style de l'image */
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

/* Style de la section de droite */
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Style des inputs et des labels */
.profile-card label {
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-card input[type="text"],
.profile-card input[type="email"],
.profile-card input[type="number"],
.profile-card input[type="file"],
.profile-card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.profile-card input[type="text"]:focus,
.profile-card input[type="email"]:focus,
.profile-card input[type="number"]:focus,
.profile-card input[type="file"]:focus,
.profile-card select:focus {
  border: 3px solid #555;
}

/* Style des groupes d'inputs */
.input-group {
  display: flex;
}

.input-group > div {
  flex: 1;
}

label{
  font-size: 14px;
}

#code-postal-input, #nom-input{
  width: 90%
}

.profile-card input[type="submit"]{
  width: 30%;
  height: 35px;
  border-radius: 8px;
  font-weight: 800;
}