.left-section {
  flex-grow: 1;
  padding: 2rem;
}

.right-section {
  flex-grow: 1;
  align-items: stretch !important;
  width: 40dvw;
}

.right-section .space {
  align-items: stretch !important;
  flex-grow: 1;
}

/* Style de l'image */
.profile-picture {
  width: 200px;
  height: 200px;
}