.usersPageContainer {
    max-width: 75dvw;
    margin: 0 auto;
}

.usersContainer {
    height: 70dvh;
    overflow-y: auto;
    overflow-x: hidden;
}

.userCard {
    width: 75dvw;
    min-height: 3.5rem;
}

.userCard .content {
    display: flex;
}